.main-container {
  width: 100%;
}

.section {
  width: 100%;
  min-height: 100vh;
}

.section-home {
  height: 100vh;
  background-image: url("../../assets/images/bg_top.png");
  background-size: 101% 101%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  text-align: center;
}




.services {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--top {
    padding-top: 2rem;
    background-color: white;
    gap: 100px;
  }

  &--bottom {
    background-color: white;
  }
}


@media (min-width: 1200px) {
  .services--top {
    background: linear-gradient(145deg, white 50%, $base-color 50%);
  }

}

@media (max-width: 1200px) {
  .services-device {
    background-color: $base-color;
  }
}

.services-icons {
  border-top: 3px solid lightgray;
  padding-top: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.icon-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.icon {
  width: 225px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__img {
    height: 75px;
    object-fit: contain;
    object-position: left;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__desc {
    font-size: 1rem;
    color: gray;
  }
}

.services-laptop {
  padding-top: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__left {
    width: clamp(350px, 40%, 40%);
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__img {
    width: clamp(350px, 60%, 700px);
    height: auto;
  }

  &__desc {
    color: black;
  }

}


.services-device {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__img {
    width: clamp(350px, 50%, 505px);
    height: auto;
  }

  &__right {
    width: clamp(350px, 40%, 500px);
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__desc {
    color: white;
  }
}


.services-full {
  display: flex;
  width: 100%;
  height: clamp(230px, auto, auto);
  flex-wrap: wrap;
  justify-content: space-between;

  &__img {
    width: clamp(350px, 50%, 50%);
  }

  &__right {
    width: clamp(350px, 50%, 50%);
    padding: 7.5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  &__desc {
    color: lightgray;
  }
}

.services-tiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  position: relative;
  width: clamp(300px, 25%, 25%);
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    &::before {
      background-color: $base-color;
      opacity: 0.9;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s linear, opacity 0.3s linear;
  }

  &__title {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 2rem;
    color: white;
    z-index: 3;
  }

  &:nth-of-type(1) {
    background-image: url("../../assets/images/tile_1.png");
  }

  &:nth-of-type(2) {
    background-image: url("../../assets/images/tile_2.png");
  }

  &:nth-of-type(3) {
    background-image: url("../../assets/images/tile_3.png");
  }

  &:nth-of-type(4) {
    background-image: url("../../assets/images/tile_4.png");
  }
}


.section-team {
  width: 100%;
  padding-left: 7.5%;
  padding-top: 7.5%;
}

.card-list {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding-top: 5%;
  width: clamp(250px, 25%, 25%);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  &__img {
    border-radius: 100%;
    width: 75%;
    height: 75%;
  }

  &__title {
    color: black;
    font-size: 2rem;
  }

  &__desc {
    color: gray;
  }

  &__button {
    width: 150px;
    color: white;
  }
}


.section-contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../../assets/images/bg_bot.png");
  background-repeat: no-repeat;
  background-size: 100% auto;

  &__left {
    width: clamp(350px, 50%, 550px);
    padding: 5%;
  }

  &__form {
    width: clamp(350px, 50%, 550px);
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__label {
    width: 100%;
    visibility: hidden;
  }

  &__input {
    line-height: 2.5rem;
    width: 100%;
  }

  &__txtarea {
    width: 100%;
    resize: none;
  }
}

.address {
  &__txt {
    margin: 5%;
    font-size: 1rem;
    color: gray;

    &--big {
      font-size: 1.75rem;
    }
  }
}